<ion-view title="game" ng-controller="GameController as game_ctrl">
  <header class="rooms bar bar-header bar-positive">
    <h1 class="title">Othello Game</h1>
    <i class="icon ion-gear-a"></i>
  </header>

  <ion-content class="game padding">
    <div class="info-game">
      <div class="oponnents">
        <p class="info">{{ game_ctrl.current_user }} VS {{ game_ctrl.opponent_user }}</p>
        <p class="color">Tus fichas son de color {{ game_ctrl.color }}</p>
      </div>
      <div class="turn">
        <p>Turno de {{ game_ctrl.token }}</p>
      </div>
    </div>
    <div class="board">
      <div class="board-row" ng-repeat="row in game_ctrl.rowsT">
          <div class="board-column" ng-repeat="column in game_ctrl.columnsT track by $index">
            <div class="board-cell {{row}}-{{column}} {{ getToken(row, column)}}" ng-click="putToken(row, column, getToken(row, column))" >

            </div>
          </div>
      </div>
    </div>
  </ion-content>
</ion-view>
