<ion-view title="{{ game_ctrl.current_room }}" ng-controller="GameController as game_ctrl">
  <header class="bar bar-header bar-positive">
    <h1 class="title">{{ game_ctrl.current_room }} | {{ getOpponentName()}}</h1>
    <button class="button button-assertive" ng-click="leaveRoom()">Leave</button>
  </header>

  <ion-content class="has-header padding">

    <div class="board">
      <div class="board-row" ng-repeat="row in game_ctrl.rowsT">
          <div class="board-column" ng-repeat="column in game_ctrl.columnsT">
            <div class="board-cell cell-{{row}}-{{column}} {{ getToken(row, column)}}" ng-click="putToken(row, column)" >
                <div class="cell-token"></div>
            </div>
          </div>
      </div>
    </div>
  </ion-content>


  <footer class="bar bar-footer bar-positive item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" id="message" name="message" ng-model="room_ctrl.message" placeholder="Type message">
    </label>
    <a class="button button-icon icon ion-android-send" ng-click="sendTextMessage()"></a>
  </footer>

</ion-view>
