<ion-view cache-view="false" title="Login" ng-controller="HomeController as home_ctrl">
  <header class="login">
    <h1 class="title"> Bienvenido</h1>
    <h1 class="sub-title">a <span>Othello</span>
      <ion-img src="assets/img/icon-img.png" alt="icon"></ion-img>
    </h1>
  </header>

  <ion-content class="login no-scroll">

    <section class="username"><input type="text" ng-model="home_ctrl.username" placeholder="Nombre"></section>
    <section class="accesibilidad"><ion-toggle class="check-acces" ng-model="home_ctrl.accesibilidad" disabled checked="false">Accesibilidad</ion-toggle></section>
    <footer><button class="button button-positive button-login button-full  button-footer" ng-click="login(home_ctrl.accesibilidad, home_ctrl.username)">Entrar</button></footer>

  </ion-content>



</ion-view>
