<ion-view title="Login" ng-controller="HomeController as home_ctrl">
  <header class="bar bar-header bar-positive">
    <h1 class="title">Othello</h1>
  </header>

  <ion-content class="has-header">

  <h2 class="text-main">Bienvenido</h2>

  <ion-toggle class="check-acces" ng-model="home_ctrl.accesibilidad" disabled checked="false">Accesibilidad</ion-toggle>
  <button class="button button-positive button-full button-footer" ng-click="login(home_ctrl.accesibilidad)">Entrar</button>

  </ion-content>



</ion-view>
