<ion-view title="Rooms" ng-controller="HomeController as home_ctrl">
  <header class="bar bar-header bar-positive">
    <h1 class="title">Othello Game - Partidas Disponible</h1>
  </header>

  <ion-content class="has-header padding">
    <div clasS="create-game" ng-click="createGame()">
      <strong>Crear partida</strong>
      <i class="fa icon-more"></i>
    </div>
    <div class="card" ng-repeat="room in home_ctrl.rooms">
      <div class="item item-text-wrap text-center" ng-click="joinGame(room)">
        <strong>{{room}}</strong>
        <i class="fa icon-more"></i>
      </div>
    </div>
  </ion-content>

</ion-view>
