<ion-view title="Rooms" ng-controller="HomeController as home_ctrl">
  <header class="rooms bar bar-header bar-positive">
    <h1 class="title">Othello Game</h1>
    <i class="icon ion-gear-a"></i>
  </header>
  <ion-content class="rooms">
    <div class="header-rooms">
      <label>Salas Disponibles</label>
    </div>
    <ion-list class="rooms" >
      <div class="room accesibilidad" ng-repeat="(room, info) in home_ctrl.rooms" ng-click="joinGame(room)">
          <!--<img src=""/> -->
          <div class="card-title">{{ room }}</div>
          <div class="card-subtitle">by {{ info.user }}</div>
      </div>
    </ion-list>
  </ion-content>
  <footer class="rooms">
    <button class="button button-positive button-login button-full  button-footer" ng-click="createGame()">
      Crear Partida
      <i class="icon-right icon ion-plus"></i>
    </button>
  </footer>

</ion-view>
