header.login {
  display:block;
  text-align: center;
  margin-top:15%;
}


header.login .title{
  font-family: fantasy;
  font-size: 2rem;
  font-weight: 300;
  color: #8c96a6;
}

header.login .sub-title{
  font-family: fantasy;
  font-size: 2.7rem;
  font-weight: 300;
  color: #8c96a6;
}

header.login .sub-title span{
  font-family: cursive;
  font-size: 65px;
  font-weight: 500;
  color: #224b8c;
}

ion-content.login{
  top:45%;
}

ion-content.login .scroll{
  height: 100%;
}

ion-content.login .username{
     padding-left: 1rem;
     padding-right: 1rem;
     margin-bottom:10%;
}

ion-content.login .username input{
    border-bottom: 1px solid black;
    max-width: 95%;
    margin: 0 auto;
}
::-webkit-input-placeholder {
   text-align: center;
}

::-webkit-input-placeholder::before {
  content:'\1F50D';
  padding-right: .2em;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

:-moz-placeholder::before {
  content:'\1F50D';
  padding-right: .2em;
}

ion-content .accesibilidad .check-acces{
  border: none;
  width: 180px;
  margin-top: 1px;
  margin: 0 auto;
}

footer {
  width:100%;
  position: absolute;
  bottom : 0;
  margin: 0;
}

footer .button-login{
  margin-bottom: 0 !important;
}

/* ROOMS */

header.rooms {
  height: 13% !important;
}

header.rooms .title{
  font-size: 3rem !important;
  margin-top: 6% !important;
  font-family: cursive;
}

.rooms .ion-gear-a{
    position: absolute;
    right: 3%;
    bottom: 30%;
    font-size: 20px;
}

ion-content.rooms{
    height: 70%;
    margin-top: 25%;
}

ion-content.rooms{
  color: #8b8b85;
  text-align: center;
}

ion-content .room{
  width: 100%;
  height: 80px;
  margin: 0 auto;
  background: #dcf4f5;
  margin-bottom: 2%;
}

ion-content .room.active-room{
  background: #5be3e8;
}

ion-content .header-rooms{
    border-bottom: 1px solid #e1dede;
    box-shadow: 0px 2px 1px -2px #888888;
    margin-bottom: 10px;
    text-align:center;
}

ion-content .header-rooms label{
    font-size: 1.5rem !important;
}

ion-content .rooms .card-title {
  top: 22%;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  position: relative;
  text-transform: capitalize;
}

ion-content .rooms .card-subtitle {
  position: relative;
  font-size: 1.rem;
  top: 17%;
  color: black;
  text-transform: uppercase;
}

footer.rooms i{
  position: absolute;
  right: 10%;
}


/* GAME */
ion-content.game{
  margin-top: 23%;
}

ion-content.game .oponnents p{
    text-align: center;
}

ion-content.game .oponnents p.info{
    font-size: 1rem;
    font-family: fantasy;
    font-weight: bold;
}

ion-content.game .oponnents p.color{
    font-size: 1.1rem;
    font-family: fantasy;
    font-family:300;
}

ion-content.game .turn{
    text-align: center;
    font-weight: bolder;
    font-size: 1.2rem;
}

.board{
  height: 60%;
  width: 100%;
  max-width: 340px;
  max-height: 340px;
  background-color: #9dc1d4;
  border: 1px solid #1b1a5a;
  margin: 0 auto;
}

.board .board-row{
    height: 12.5%;
    border-bottom: 0.5px solid white;
}

.board .board-column{
    border-right: 0.5px solid white;
    width: 12.5%;
    height: 100%;
    float: left;
}

.board .token{
    height: 95%;
    width: 95%;
    border-radius: 50%;
    margin: 2%;
}

.board .token-white{
    background-color: white;
    border: 1px solid white;
}

.board .token-black{
  background-color: black;
  border: 1px solid black;
}

.board .token-empty{
    height: 97%;
    width: 100%;
}

.board .token-posible.no-accesibilidad{
    background-color: #5be3e8;
}

.board .active-token{
    background-color: #5be3e8;
}

.board .token-select{
    height: 95%;
    width: 95%;
    border-radius: 50%;
    margin: 2%;
    border: 1px solid #3263d3;
}

.board .token-select-white{
    background-color: white;
}

.board .token-select-black{
    background-color: black;
}
